body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #213547;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  form#addPuppyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  form#addPuppyForm label,
  form#addPuppyForm input,
  form#addPuppyForm button {
    margin-bottom: 10px;
  }
  
  form#addPuppyForm button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form#addPuppyForm button:hover {
    background-color: #45a049;
  }
img { display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    padding: 30px;
    border: #4CAF50;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
    
    
    div#puppyList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: white;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }