ul#puppyList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

ul#puppyList li {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px; /* Set a fixed width for each list item */
    background-color: bisque;
    text-align: center; /* Center the content horizontally */
}

ul#puppyList li img {
    width: 150px; /* Set a fixed width for the images */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 10px; /* Add some space between the image and other content */
}

ul#puppyList li span {
    display: block;
    font-weight: bold;
}

ul#puppyList li .delete-button,
ul#puppyList li .details-button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for delete and details buttons */
ul#puppyList li .delete-button {
    background-color: #f44336;
    color: white;
    border: solid 1px #f44336;
}

ul#puppyList li .delete-button:hover {
    background-color: #cc0000;
}

ul#puppyList li .details-button {
    background-color: #007bff;
    color: white;
    border: solid 1px #007bff;
}

ul#puppyList li .details-button:hover {
    background-color: #0056b3;
}